# =========================================
# Airflow
# =========================================
logs/
logs/*

# В случае если хочешь сохранить структуру:
# !logs/.gitkeep

# Метаданные DAG run-ов и временные файлы
**/airflow.db
**/airflow.cfg
**/webserver_config.py

# Все файлы, которые Airflow создаёт автоматически
**/scheduler/*
**/webserver/*
**/task/*
**/dag_processor/*

# =========================================
# Python
# =========================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.spec

# virtual envs
venv/
.venv/
env/
ENV/

# poetry
.poetry/
poetry.lock

# pipenv
Pipfile
Pipfile.lock

# =========================================
# IDE / Editors
# =========================================
.idea/
.vscode/
*.swp
*~
*.sublime-workspace
*.sublime-project

# =========================================
# OS files
# =========================================
.DS_Store
Thumbs.db

# =========================================
# Docker
# =========================================
*.pid
*.log
*.sock
docker-compose.override.yml

# =========================================
# Credentials
# =========================================
*.json
*.env
.env.*
secrets/
credentials/
